#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#imgdiv img{
    height: 150px;
    width: 100%;
}
#secdiv{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
    border-bottom: 1px solid rgb(139, 134, 134);

}
#secdiv div{
    background-color: rgb(156, 156, 156);
    border-radius: 3px;
    font-size: 12px;
    color: black;
    padding: 1%;
    margin-bottom: 20px;

}
#pricediv{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#lastdiv{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}
#lastdiv img{
    height: 40px;
    width: 40px;
    /* display: none; */
}
#lastdiv img:hover{
    display: block;
    cursor: pointer;
}
#modify{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
  
}
#modify button{
    background-color: rgb(156, 156, 156);
    border-radius: 3px;
    font-size: 12px;
    padding: 1%;
}
#filterdiv{
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
#edit-section{
    display: none;
}